.texto-menor {
    font-size: 13px;
}

.divs-facilidades {
    width: 325px;
    padding: 16px;
}

.div-novidades {
    width: 325px;
}

@media(min-width: 768px) {

    .div-novidades {
        width: 696px;
    }

}
