@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

.texto-menor {
    font-size: 13px;
}

.titulo-carrossel {
    font-family: 'Inter', sans-serif;
    font-size: 2rem;
    font-weight: 500;
}

.divs-facilidades {
    width: 325px;
    padding: 16px;
}

.div-novidades {
    width: 325px;
}

.cor-btn {
    display: inline-block;
    background: #9353FF;
}

.cor-verde {
    color: #DAFF01;
}

.cor-borda-btn {
    padding: 0 8px;
    border: 1px solid #9353FF;
}

@media(min-width: 768px) {

    .div-novidades {
        width: 696px;
    }

}
